@import url("/home/sy/.cache/wal/colors-waybar.css");

* {
    border: none;
    border-radius: 12;
    font-family: "Noto Sans Nerd Font" ;
    font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

#window {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: @color0;
}

#language {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: @color0;
}

#window.empty {
    opacity: 0;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	background: @color0;
}
#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: white;
	background: @background;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: white;
	background: @background;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: white;
	background: @background;
}

#battery.charging, #battery.plugged {
	color: #161320;
    background-color: #B5E8E0;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: white;
	background: @background;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: black;
	background: @color2;
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;
	color: white;
	background: @background;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;
	color: white;
	background: @background;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	transition: none;
	color: white;
	background: #2073ab;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	transition: none;
    color: @color1;
    background: @background;
}


#custom-powermenu{
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 5px;
	margin-bottom: 0px;
	transition: none;
	color: @foreground;
	background: @background;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: @foreground;
	background: @background;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	transition: none;
	color: @foreground;
	background: @color1;
}

#workspaces {
	color: white;
	background: @background;
    margin-top: 6px;
}

#workspaces button {
    color: white;
    margin: 5px;
    background: @background;
}


#workspaces button.focused {
    background: #64727D;
}

#workspaces button.active {
    border: none;
    background-color: @color1;
    color: white;
}

#workspaces button.urgent {
    border: none;
    background-color: #e0190b;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: white;
}

#media {
    background-color: #66cc99;
    color: #2a5c45;
    border-radius: 10px;
    margin: 5px;
    padding: 0px 10px;
}
