@import url("/home/sy/.cache/wal/colors-waybar.css");

* {
    min-height: 0;
    min-width: 0;
    font-family: Lexend, "JetBrainsMono NFP";
    font-size: 15px;
    font-weight: 600;
    border: none;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: #121212;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#workspaces {
    background-color: #292929;
    border-radius: 12px;
    /* padding: 0.3rem 0.6rem; */
    margin: 0.4rem 0.25rem;
}

#workspaces button {
    border-radius: 8;
    padding: 0.3rem 0.7rem;
    background-color: #292929;
    color: #cdd6f4;
}

#workspaces button:hover {
    border-radius: 8;
    color: #292929;
    background-color: #7d7d7d;
}

#workspaces button.active {
    border-radius: 8px;
    padding: 0.3rem 1.0rem;
    background-color: #e0e0e0;
    color: #292929;
}

#workspaces button.urgent {
    background-color: #d44339;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: white;
}

#clock {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #74c7ec;
}

#clock.simpleclock {
    color: #89b4fa;
}

#backlight {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #b4befe;

}

#pulseaudio {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #daff82;
}

#pulseaudio.muted {
    color: #a6adc8;
}

#custom-logo {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #89b4fa;
}

#custom-power {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #f38ba8;
}

#custom-spotify {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
}

#custom-notification {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
}

#cpu {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #94e2d5;
}

#tray {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #3d4c5c;
}

#memory {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #cba6f7;
}

#window {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #cdd6f4;
}

#window.empty {
    opacity: 0;
}

#network {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #fad066;
}

#language {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #fa66e4;
}

#battery {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
}


#battery.charging,
#battery.plugged {
    color: #281320;
    background-color: #B5E8E0;
}

#battery.full {
    color: #95edad;
    background-color: #292929;
}

#battery.critical:not(.charging) {
    background-color: #B5E8E0;
    color: #161320;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#custom-updates {
    padding: 0.3rem 0.6rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #fa667a;
}

#custom-launcher {
    padding: 0.3rem 1rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #00aeff;
}

#custom-powermenu {
    padding: 0.3rem 1rem;
    margin: 0.4rem 0.25rem;
    border-radius: 6px;
    background-color: #292929;
    color: #fa667a;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

tooltip {
    background-color: #181825;
    border: 2px solid #ffffff;
    border-radius: 8px;
}
